@import "../../../css/colors.less";

.uiRods {
	display: flex;
	width: 320px;
	height: 120px;
	margin-top: 80px;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.rod {
		border-radius: 50%;
		background-color: rgba(255, 255, 255, 0.6);
		animation: spawn 0.35s;
		width: 80px;
		height: 80px;
		position: relative;
		filter: brigtness(100%) drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.4));
		transition-duration: 0.2s;
		transition-property: filter;
		justify-content: center;
		align-items: center;
		display: flex;
		cursor: pointer;

		&:not(:last-child) {
			margin-left: 12px;
		}

		&:hover {
			filter: brightness(125%) drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.4));
		}

		.img {
			background-size: contain !important;
			filter: brightness(100%) drop-shadow(0px 2px 0px rgb(0, 0, 0, 0.4));
			width: 64px;
			height: 64px;
			position: absolute;
		}

		.arrow {
			font-size: 120px;
			color: white;
			position: absolute;
			bottom: calc(0% + 40px);
			transform-origin: 50% 100%;
			will-change: transform, opacity;
			opacity: 0;
			transition-property: opacity;
			transition-duration: 0.1s;
		}

		&.active {
			.arrow {
				opacity: 1;
			}

		}

	}

}
