.uiRods {
  display: flex;
  width: 320px;
  height: 120px;
  margin-top: 80px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.uiRods .rod {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  animation: spawn 0.35s;
  width: 80px;
  height: 80px;
  position: relative;
  filter: brigtness(100%) drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.4));
  transition-duration: 0.2s;
  transition-property: filter;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}
.uiRods .rod:not(:last-child) {
  margin-left: 12px;
}
.uiRods .rod:hover {
  filter: brightness(125%) drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.4));
}
.uiRods .rod .img {
  background-size: contain !important;
  filter: brightness(100%) drop-shadow(0px 2px 0px #000000);
  width: 64px;
  height: 64px;
  position: absolute;
}
.uiRods .rod .arrow {
  font-size: 120px;
  color: white;
  position: absolute;
  bottom: calc(0% + 40px);
  transform-origin: 50% 100%;
  will-change: transform, opacity;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s;
}
.uiRods .rod.active .arrow {
  opacity: 1;
}
