.uiRewards {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 0px 92px 48px 92px;
  background-color: rgba(100, 210, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 48px 48px 48px;
}
.uiRewards .heading {
  font-size: 48px;
  color: white;
  padding: 24px 0px 36px 0px;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
}
.uiRewards .bottom {
  display: flex;
  flex-direction: row;
}
.uiRewards .bottom .reward {
  width: 128px;
  height: 128px;
  padding: 12px 36px;
  background: url(../../../images/fish/rod1.png) no-repeat;
  background-size: contain;
  transition-duration: 0.2s;
  transition-property: filter;
  cursor: pointer;
  filter: brightness(100%) drop-shadow(0px 2px 0px #006b97);
}
.uiRewards .bottom .reward:hover {
  filter: brightness(150%) drop-shadow(0px 2px 0px #006b97);
}
