.uiPockets {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 0px 48px 48px 48px;
  background-color: rgba(100, 210, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 48px 48px 48px;
  max-width: 800px;
}
.uiPockets .heading {
  font-size: 48px;
  color: white;
  padding: 24px 0px 36px 0px;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
}
.uiPockets .bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.uiPockets .bottom .item {
  width: 64px;
  height: 64px;
  padding: 12px 36px;
  background: url(../../../images/rod1.png) no-repeat;
  background-size: contain;
  transition-duration: 0.35s;
  transition-property: filter;
  cursor: pointer;
  filter: brightness(100%) drop-shadow(0px 2px 0px #006b97);
  animation: spawn 0.35s;
}
.uiPockets .bottom .item:hover {
  transition-duration: 0.2s;
  filter: brightness(150%) drop-shadow(0px 2px 0px #006b97);
}
.uiPockets .bottom .item:active {
  animation: spawn 0.35s;
}
