.uiLoot {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 0px 92px 48px 92px;
  background-color: rgba(100, 210, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 48px 48px 48px;
}
.uiLoot .heading {
  font-size: 48px;
  color: white;
  padding: 24px 0px 36px 0px;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
}
.uiLoot .bottom {
  display: flex;
}
.uiLoot .bottom .loot {
  width: 240px;
  height: 240px;
  padding: 12px 36px;
  background: url(../../../images/shrub.png) no-repeat;
  background-size: contain;
  transition-duration: 0.2s;
  transition-property: filter;
  cursor: pointer;
  filter: brightness(100%) drop-shadow(0px 2px 0px #006b97);
}
.uiLoot .bottom .loot:hover {
  filter: brightness(150%) drop-shadow(0px 2px 0px #006b97);
}
.uiLoot .bottom .loot.shaking {
  animation: shake 0.5s;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(0, -1px, 0);
  }
  20%,
  80% {
    transform: translate3d(0, 2px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(0, -4px, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 4px, 0);
  }
}
