@import "../../../css/colors.less";

.uiPopups {
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	flex-direction: row-reverse;

	.popup {
		border-radius: 50%;
		background-color: rgba(100, 210, 255, 0.8);
		animation: spawn 0.35s;
		width: 64px;
		height: 64px;
		position: relative;
		margin-right: 12px;
		filter: drop-shadow(0px 2px 0px darken(rgba(100, 210, 255, 0.4), 40%));

		&.fading {
			animation: fade 0.55s;
		}

		.img {
			background-size: contain !important;
			filter: brightness(100%) drop-shadow(0px 2px 0px darken(rgb(100, 210, 255), 40%));
			width: 100%;
			height: 100%;
		}

	}

}
