.uiGuide {
  display: flex;
  flex-direction: row;
  background-color: rgba(100, 210, 255, 0.8);
  border-radius: 48px 48px 48px 0px;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
}
.uiGuide * {
  pointer-events: none;
}
.uiGuide .left {
  width: 240px;
  height: 240px;
  background: url('../../../images/faces/guide.png') no-repeat;
  background-size: contain;
}
.uiGuide .right {
  width: 400px;
  padding: 24px 48px 48px 0px;
  display: flex;
  flex-direction: column;
}
.uiGuide .right .name {
  color: white;
  font-size: 48px;
  margin-bottom: 12px;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
}
.uiGuide .right .msg {
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 36px;
  flex: 1;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
}
.uiGuide .right .subtext {
  font-size: 36px;
  display: flex;
  justify-content: flex-end;
  color: #3880be;
  animation: flash 1s infinite;
  margin-bottom: -27px;
  margin-right: -15px;
  filter: drop-shadow(0px 2px 0px rgba(255, 255, 255, 0.4));
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
