@import "../../../css/colors.less";

.uiExample {
	width: 342px;
	height: 135px;
	padding: 12px 36px;
	background: url('../../../images/plank_13.png');
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 32px;
	transition-duration: 0.2s;
	transition-property: transform;
	cursor: pointer;

	&:hover {
		transform: scale(1.05);
	}

}
