@import "colors.less";

@font-face {
	font-family: magical;
	src: url('../fonts/magical.ttf');
}

.loader-container {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0px;
	top: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.loader {
		background: url('../images/fish/fish6.png');
		width: 120px;
		height: 120px;
		background-size: contain;
		animation: fishThang 1s infinite;
	}

	.loader-text {
		width: 100%;
		margin-top: 48px;
		text-align: center;
		color: #3880be;
		font-size: 48px;
		filter: drop-shadow(0px 2px 0px fade(white, 90%));
	}

	.loader-bar {
		filter: drop-shadow(0px 2px 0px fade(white, 90%));
		margin-top: 12px;
		height: 24px;
		width: 240px;
		background-color: #3880be;
		position: relative;
		padding: 4px;

		.loader-inner {
			transition-property: width;
			transition-duration: 0.4s;
			width: 0%;
			height: 100%;
			background-color: white;
		}

	}

	@keyframes fishThang {
		0% {
			transform: scale(1) rotate(20deg);
			filter: hue-rotate(20deg) brightness(1) drop-shadow(0px 2px 0px darken(rgb(100, 210, 255), 40%));
		}

		50% {
			transform: scale(1.05) rotate(10deg);
			filter: hue-rotate(20deg) brightness(1.3) drop-shadow(0px 2px 0px darken(rgb(100, 210, 255), 40%));
		}

		100% {
			transform: scale(1) rotate(20deg);
			filter: hue-rotate(20deg) brightness(1) drop-shadow(0px 2px 0px darken(rgb(100, 210, 255), 40%));
		}

	}

}
