body,
html {
  position: fixed;
  overflow: hidden;
  overscroll-behavior: none;
}
body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #3880be;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  width: 1536px;
  height: 100%;
  position: relative;
  background-color: #d6f2ff;
  border-left: 4px solid white;
  border-right: 4px solid white;
}
.ui-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 20;
  overflow: hidden;
}
.ui-container .faces {
  position: absolute;
  left: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}
.ui-container .faces > *:not(:last-child) {
  margin-top: 24px;
}
.ui-container > .right {
  position: absolute;
  right: 10px;
  top: 100px;
}
.ui-container.mobile .uiTooltipInfo {
  display: none !important;
}
.mobile .right {
  top: 0px;
  right: 0px;
  z-index: 2;
}
* {
  box-sizing: border-box;
  font-family: magical;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.canvas-container {
  position: relative;
  float: left;
  opacity: 0;
}
.canvas-container.visible {
  opacity: 1;
  transition: 3s;
}
.canvas-container canvas {
  left: 0px;
  top: 0px;
  width: 100%;
}
.hidden {
  display: none !important;
}
.disabled {
  opacity: 0.4 !important;
  pointer-events: none !important;
}
.fading {
  animation: fade 0.55s;
}
[class^="ui"] {
  animation: spawn 0.35s;
}
[class^="ui"] input,
[class^="ui"] textarea {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
[class^="ui"] .el {
  height: 35px;
  text-align: center;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
}
[class^="ui"] .textbox {
  border: none;
  outline: none;
  font-size: 16px;
}
[class^="ui"] div.textbox {
  padding-top: 6px;
}
[class^="ui"] .btn {
  cursor: pointer;
  padding-top: 10px;
}
[class^="ui"] .btn:hover {
  background-color: #473456;
}
[class^="ui"] .spacer-h {
  width: 100%;
}
[class^="ui"].modal .btnClose {
  position: absolute;
  background-color: #505360;
  color: #ff6942;
  cursor: pointer;
  height: 31px;
  width: 31px;
  text-align: center;
  right: 0px;
  top: 0px;
  padding-top: 8px;
  padding-left: 2px;
}
[class^="ui"].modal .btnClose:hover {
  background-color: #473456;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background-color: #3c3f4c;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 0px;
  background: #929398;
}
.q0 {
  color: #f2f5f5;
}
.q1 {
  color: #4ac441;
}
.q2 {
  color: #3fa7dd;
}
.q3 {
  color: #a24eff;
}
.q4 {
  color: #ff6942;
}
.color-red {
  color: #d43346 !important;
}
.color-redA {
  color: #ff4252 !important;
}
.color-blueA {
  color: #48edff !important;
}
.color-blueB {
  color: #3fa7dd !important;
}
.color-greenB {
  color: #4ac441 !important;
}
.color-yellowB {
  color: #faac45 !important;
}
.color-green {
  color: #80f643 !important;
}
.color-brownC {
  color: #b15a30 !important;
}
.color-brownD {
  color: #763b3b !important;
}
.color-grayA {
  color: #f2f5f5 !important;
}
.color-grayB {
  color: #c0c3cf !important;
}
.color-grayC {
  color: #929398 !important;
}
.color-grayD {
  color: #69696e !important;
}
.color-pinkA {
  color: #fc66f7 !important;
}
.color-pinkB {
  color: #de43ae !important;
}
.color-purpleA {
  color: #a24eff !important;
}
@keyframes spawn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
