.uiActions {
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: flex;
	flex-direction: column-reverse;

	.button {
		width: 190px;
		height: 70px;
		padding: 12px 24px;
		background-color: #ff864c;
		display: flex;
		justify-content: center;
		align-items: center;
		transition-duration: 0.2s;
		transition-property: background-color;
		cursor: pointer;
		border-radius: 12px;
		filter: drop-shadow(0px 2px 0px fade(darken(#ff864c, 40%), 40%));
		animation: spawn 0.35s;

		&:hover {
			background-color: #d47040;
		}

		.cpt {
			color: white;
			font-size: 32px;
			padding-top: 8px;
			filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
		}

		&:not(:last-child) {
			margin-top: 12px;
		}

	}

}
