.uiTrade {
  position: absolute;
  left: 20px;
  top: 20px;
  padding: 0px 48px 48px 48px;
  background-color: rgba(100, 210, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 48px 48px;
  max-width: 800px;
  color: white;
}
.uiTrade .heading {
  font-size: 48px;
  padding: 24px 0px 36px 0px;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
}
.uiTrade .button {
  position: absolute;
  left: calc(100% + 12px);
  top: 0%;
  width: 190px;
  height: 70px;
  padding: 12px 36px;
  background-color: #ff864c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  transition-property: filter;
  cursor: pointer;
  border-radius: 0px 12px 12px 0px;
  filter: drop-shadow(0px 2px 0px rgba(127, 41, 0, 0.4));
  animation: spawn 0.35s;
}
.uiTrade .button:hover {
  filter: brightness(150%);
}
.uiTrade .button .cpt {
  color: white;
  font-size: 24px;
}
.uiTrade > .bottom {
  display: flex;
  flex-direction: column;
}
.uiTrade > .bottom .item {
  position: relative;
  width: 64px;
  height: 64px;
  padding: 12px 36px;
  background: url(../../../images/rod.png) no-repeat;
  background-size: contain;
  transition-duration: 0.2s;
  transition-property: filter;
  cursor: pointer;
  filter: drop-shadow(0px 2px 0px #006b97);
  animation: spawn 0.35s;
}
.uiTrade > .bottom .item:hover:not(.nope) {
  filter: brightness(150%) drop-shadow(0px 2px 0px #006b97);
}
.uiTrade > .bottom .item .amount {
  position: absolute;
  left: 70%;
  top: 70%;
  font-size: 24px;
  filter: drop-shadow(0px 2px 0px #000000);
}
.uiTrade > .bottom .item.nope {
  opacity: 0.35;
  filter: grayscale(100%);
  pointer-events: none;
}
.uiTrade > .bottom .divider {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 24px 0px;
}
.uiTrade > .bottom .divider.vert {
  height: auto;
  width: 2px;
  margin: 0px 12px;
}
.uiTrade > .bottom .row {
  display: flex;
  flex-direction: row;
}
.uiTrade > .bottom .row .label {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.uiTrade > .bottom .row > .items {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
