.uiTrade {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 0px 48px 48px 48px;
	background-color: rgba(100, 210, 255, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0px 0px 48px 48px;
	max-width: 800px;
	color: white;

	.heading {
		font-size: 48px;
		padding: 24px 0px 36px 0px;
		filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
	}

	.button {
		position: absolute;
		left: calc(100% + 12px);
		top: 0%;
		width: 190px;
		height: 70px;
		padding: 12px 36px;
		background-color: #ff864c;
		display: flex;
		justify-content: center;
		align-items: center;
		transition-duration: 0.2s;
		transition-property: filter;
		cursor: pointer;
		border-radius: 0px 12px 12px 0px;
		filter: drop-shadow(0px 2px 0px fade(darken(#ff864c, 40%), 40%));
		animation: spawn 0.35s;

		&:hover {
			filter: brightness(150%);
		}

		.cpt {
			color: white;
			font-size: 24px;
		}

	}

	> .bottom {
		display: flex;
		flex-direction: column;

		.item {
			position: relative;
			width: 64px;
			height: 64px;
			padding: 12px 36px;
			background: url(../../../images/rod.png) no-repeat;
			background-size: contain;
			transition-duration: 0.2s;
			transition-property: filter;
			cursor: pointer;
			filter: drop-shadow(0px 2px 0px darken(rgb(100, 210, 255), 40%));
			animation: spawn 0.35s;

			&:hover:not(.nope) {
				filter: brightness(150%)
				drop-shadow(0px 2px 0px darken(rgb(100, 210, 255), 40%));
			}

			.amount {
				position: absolute;
				left: 70%;
				top: 70%;
				font-size: 24px;
				filter: drop-shadow(0px 2px 0px darken(rgb(100, 210, 255), 70%));
			}

			&.nope {
				opacity: 0.35;
				filter: grayscale(100%);
				pointer-events: none;
			}

		}

		.divider {
			width: 100%;
			height: 2px;
			background-color: white;
			margin: 24px 0px;

			&.vert {
				height: auto;
				width: 2px;
				margin: 0px 12px;
			}

		}

		.row {
			display: flex;
			flex-direction: row;

			.label {
				width: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 32px;
			}

			> .items {
				flex: 1;
				display: flex;
				flex-direction: row;
				justify-content: center;
				flex-wrap: wrap;
			}

			.swap {
			}

		}

	}

}
