<div class="uiTrade">
	<div class="heading">Trade</div>
	<div class="bottom">
		<div class="row trader">
			<div class="label">Buy</div>
			<div class="divider vert"></div>
			<div class="items have"></div>
			<div class="divider vert"></div>
			<div class="swap items get"></div>
		</div>
		<div class="divider"></div>
		<div class="row you">
			<div class="label">Sell</div>
			<div class="divider vert"></div>
			<div class="items have"></div>
			<div class="divider vert"></div>
			<div class="swap items give"></div>
		</div>
	</div>
	<div class="button">
		<div class="cpt">Make Trade</div>
	</div>
</div>