.uiSplash {
  display: flex;
  width: 320px;
  height: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff864c;
  border-radius: 48px;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
  animation: spawn 0.35s, bob 1s infinite;
  cursor: pointer;
}
.uiSplash.vanish {
  animation: fade 0.55s;
}
.uiSplash * {
  pointer-events: none;
}
.uiSplash:hover {
  background-color: #d47040;
}
.uiSplash .cpt {
  color: white;
  font-size: 48px;
  padding-top: 8px;
  filter: drop-shadow(0px 2px 0px rgba(0, 107, 151, 0.4));
}
@keyframes bob {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 12px;
  }
  100% {
    margin-top: 0px;
  }
}
